
///////////////////////////////////////////////
// Section-Collab
.section-collab{
  padding: 10rem 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

//////////////////////////////////////////////////
//SECTION_WORK

.section-work{
  padding: 0 20%;
  .work{
    display: flex;
    align-items: flex-start;
    &__img{
      width: 60%;
      margin-left: -8%;
    }
    &__cont{
      width: 43%;
      margin-left: 5%;
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      &--text{

        &--1{
          font-size: 1.8rem;
          color: #062C51;
          font-weight: 700;
        }
        &--2{
          font-size: 1.2rem;
          color: #1E84ED;
          margin: 3rem 0;

        }
      }
    }
  }

  .follow{
    display: flex;
    align-items: flex-start;
    padding: 10rem 0;
    &__img{
      width: 55%;
      margin-left: 10%
    }
    &__cont{
      width: 50%;
      margin-top: 10rem;
      display: flex;
      flex-direction: column;
      &--text{

        &--1{
          font-size: 1.8rem;
          color: #062C51;
          font-weight: 700;
        }
        &--2{
          font-size: 1.2rem;
          color: #1E84ED;
          margin: 3rem 0;

        }
      }
    }
  }
}

.button{
  margin-top: 3rem;
  &__btn{
    background-image: linear-gradient(to right, #062C51, #1E84ED);
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1.2rem 2rem;
    border: none;
    border-radius: 100px;
    transition: all .3s;
    outline: none;
    cursor: pointer;
  }
  .button__btn:hover{
    background-image: linear-gradient(to right, #1E84ED,  #062C51);
    transform: translateY(-.3rem);
    box-shadow: .2rem .2rem 1rem rgb(112, 112, 112) ;
  }
  .button__btn:active{
    transform: translateY(-.1rem);
    box-shadow: .1rem .1rem 1rem rgb(112, 112, 112) ;

  }
}


////////////////////////////////
//SECTION_HOW
// .trianglr-right{
//     box-shadow: .5rem .5rem 2rem rgb(223, 223, 223);
//     border-radius:4px;
// }
.section-how{
  background-image: url(../../img/bg-video.svg);
  width: 100vw;
  height: 32rem;
  background-size : cover;


  .how{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    margin: 0 auto;
    &--play{
      //margin-top: 15rem;
      &--img{
        fill: #fff;
        transition: all .3s;

      }
      .how--play--img:hover{
        transform: scale(1.5,1.5);

      }
    }
    &--text1{
      font-size: 1.8rem;
      color: #062C51;
      font-weight: 700;
      margin: 1.5rem 0;
    }
    &--text2{
      text-align: center;
      font-size: 1.2rem;
      color: #1E84ED;

    }

  }
}

/////////////////////////////////////////
//SECTION-SOCIAL

.section-social{
  padding: 1rem 20%;
  display: flex;
  .boxSocial-margin{
    margin-left: 2.6rem;
  }
  .boxSocial{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 29rem;

    }
  }
  .boxSocial--up{
    margin-top: -3rem;
  }
  .text{
    width: 20%;
    padding: 7rem 2rem;
    &__para{
      font-size: 1.8rem;
      color: #062C51;
      font-weight: 700;
      margin-top: .5rem;
      margin-left: 2rem;
    }
  }

///////////////////////////////////////
//SECTION_CONTACT

.section-contact{
  background-image: url(../../assets/Bg-contact.svg);
  background-position: bottom right;
  background-size:cover;
  padding: 4rem 20%;
  margin-top: 10rem;
  .contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__text{
      font-size: 1.4rem;
      color: #062C51;
      font-weight: 600;
      margin-left: 30%;
    }
    &__btn{
      background-color: #E1E4ED99;
      color: #6852ED;
      font-size: 1.2rem;
      padding: 1rem 2rem;
      border-radius: 100px;
      border: .5px solid #6852ED;
    }
    &__btn:hover{
      background-color: #062C51;
      color: #fff;
      cursor: pointer;
    }
  }
}


///////////////////////////////////////////////
//SECTION_PRICE
.section-price{
  padding: 10rem 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}



//////////////////////////////////////////////
//SECTION_QUESTION
.section-question{
  padding: 0 20%;
  display: flex;
  align-items: center;

}
