// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
//$font-display: 'Josefin Sans', sans-serif;


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 62.5%;  //1rem=10px;  10px/16px=62.5%
    box-sizing: border-box;

}
body{
    font-family: $font-primary;
    font-weight: 400;
    line-height: 2rem;
    background-color: #DFF6FC;
    &::-webkit-scrollbar{
        display: none;
    }
}

// ::selection{
//     background-color: $color-primary;
//     color: $color-white;
// }



//BODY
.cursor{
    cursor: pointer;
}
////////////////////////////////////////////
//NAVIGATION


//////////////////////////////////////////
//HEADER


//////////////////////////////////////@at-root
// FOOTER

